/.idea
/yolov5_7.0/runs
/__pycache__
*.out
*.pth
/weights
**.zip
**.png
**.jpg
**.pt
**.out.**
**.txt
**.onnx
**.pt
/runs
resources/albumentations-2.0.6/
3-7_jpg.tar.gz
resources/albumentations-2.0.6.tar.gz
yolov5_7.0/=3.1.30
yolov5_7.0/=3.3
yolov5_7.0/gcc-4.6.0.tar.gz
**.rar
