# YOLOv5 requirements
# version: cp39 ; 最好不要使用3.11，可能会遇到re.errror的问题
# Usage: pip install -r requirements.txt
# pip install -i https://mirrors.huaweicloud.com/repository/pypi/simple 


### ===================== ###
#! pip install torch==2.1.0 torchvision==0.16.0 torchaudio==2.1.0 --index-url https://download.pytorch.org/whl/cu118
# pip install -i https://mirrors.huaweicloud.com/repository/pypi/simple onnxruntime-gpu==1.16.1
### ===================== ###

onnxruntime-gpu==1.16.1
# Base ------------------------------------------------------------------------
gitpython>=3.1.30
matplotlib>=3.3
numpy==1.24.4
opencv-python==4.9.0.80 # >=4.1.1
opencv-python-headless==4.9.0.80 # >=4.1.1
# pillow>=10.3.0  # Pillow==9.5
Pillow==9.5
psutil  # system resources
PyYAML>=5.3.1
requests>=2.32.2
scipy>=1.4.1
thop>=0.1.1  # FLOPs computation
# torch>=1.8.0  # see https://pytorch.org/get-started/locally (recommended)
torchvision>=0.9.0
tqdm>=4.66.3
ultralytics>=8.2.34  # https://ultralytics.com
# protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012

### ========================= ###
# pip install  --root-user-action=ignore  -i https://mirrors.huaweicloud.com/repository/pypi/simple gitpython>=3.1.30  matplotlib>=3.3  numpy==1.24.4  opencv-python>=4.1.1  PyYAML>=5.3.1 psutil  requests>=2.32.2  scipy>=1.4.1  thop>=0.1.1  torchvision>=0.9.0  tqdm>=4.66.3  ultralytics>=8.2.34
# pip install -i https://mirrors.huaweicloud.com/repository/pypi/simple Pillow==9.5
### ========================= ###





# Logging ---------------------------------------------------------------------
tensorboard>=2.4.1   
clearml==1.2.0   #
# comet   # 3.9中安装出现问题





# Plotting --------------------------------------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# Export ----------------------------------------------------------------------
coremltools>=6.0  # CoreML export
#onnx>=1.10.0     # ONNX export
onnx-simplifier>=0.4.1  # ONNX simplifier
# nvidia-pyindex  # TensorRT export
# nvidia-tensorrt  # TensorRT export
# scikit-learn<=1.1.2  #? CoreML quantization 其实需要大于1.1.2的版本
#?tensorflow>=2.4.0,<=2.13.1  #? TF exports (-cpu, -aarch64, -macos)   # 3.9中 tensorflow==2.5.0
#?tensorflowjs>=3.9.0  # TF.js export
# openvino-dev>=2023.0  # OpenVINO export

### ======================= ###
# pip install -i https://mirrors.huaweicloud.com/repository/pypi/simple onnx==1.17.0
### ======================= ###
onnx==1.17.0



# Deploy ----------------------------------------------------------------------
#setuptools==70.0.0 # Snyk vulnerability fix 
#?tritonclient[all]~=2.24.0   # 编译失败




# Extras ----------------------------------------------------------------------
ipython  # interactive notebook
mss      # screenshots
# albumentations>=1.0.3   #! pip install albumentations==1.4.23 --upgrade  
pycocotools>=2.0.6      # COCO mAP


### ====================== ###
# pip install albumentations==1.4.23 --upgrade  
### ====================== ###



onnxruntime-gpu==1.16.1
cuda_bindings==12.8.0
#polygraphy==0.47.1   # 华为源找不到
#cuda-python
#onnx_graphsurgeon==0.5.8


# pip install polygraphy==0.47.1 --index-url https://pypi.ngc.nvidia.com
# pip install cuda-python -i https://mirrors.huaweicloud.com/repository/pypi/simple
# pip install onnx_graphsurgeon==0.5.8 -i https://mirrors.huaweicloud.com/repository/pypi/simple



# pip install wandb -i https://mirrors.huaweicloud.com/repository/pypi/simple
# pip install -U ultralytics "ray[tune]"